name: Kur Guncelle Cron
on:
  schedule:
    - cron: "*/5 * * * *"   # 5 dakikada bir (test modu)
  workflow_dispatch:


jobs:
  update-kur:
    runs-on: ubuntu-latest

    steps:
      - name: Kur guncelle
  run: |
    echo "⏰ CRON ÇALIŞTI: $(date)"
    curl -v -X POST https://kur-guncelle-api.onrender.com/kur-guncelle \
      -H "x-api-key: ${{ secrets.API_KEY }}"

